* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee3e3;
}

.containerHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("../img/marvel-characters.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  /* SOURCE BTN HOME -> https://codepen.io/stevenlei/pen/ZEpyBod */
  /* SOURCE BTN HOME -> https://codepen.io/stevenlei/pen/ZEpyBod */
}

.containerHome #homeBtn,
.containerHome #homeBtn::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, transparent), color-stop(5%, #ff013c));
  background: linear-gradient(transparent 5%, #ff013c 5%);
  border: 0;
  color: #f3e8e8;
  letter-spacing: 5px;
  line-height: 90px;
  outline: transparent;
  position: relative;
}

.containerHome #homeBtn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "MARVELOUS";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  -webkit-clip-path: var(--slice-0);
          clip-path: var(--slice-0);
}

.containerHome #homeBtn:hover::after {
  -webkit-animation: 1s glitch;
          animation: 1s glitch;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
}

@-webkit-keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

#switchThemeBox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 25px 25px 0 auto;
}

#switchThemeBox input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switchThemeBox .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switchThemeBox .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #dd2852;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switchThemeBox input:checked + .slider {
  background-color: #dd2852;
}

#switchThemeBox input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #dd2852;
          box-shadow: 0 0 1px #dd2852;
}

#switchThemeBox input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ebe1e1;
}

#switchThemeBox .slider.round {
  border-radius: 34px;
}

#switchThemeBox .slider.round:before {
  border-radius: 50%;
}

/* PAGE PERSONNAGES */
.titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 5px;
}

.titleBox #title, .titleBox #titleNameHero {
  font-size: 40px;
  letter-spacing: 5px;
}

.titleBox #title span, .titleBox #titleNameHero span {
  color: #dd2852;
}

#charactersImgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

#charactersImgBox #imgCharacterDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 100%;
  margin: 15px;
}

#charactersImgBox #imgCharacterDiv .charactersImg {
  border: 10px double black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 100%;
}

#charactersImgBox #imgCharacterDiv #infosCharactereBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#charactersImgBox #imgCharacterDiv #infosCharactereBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#charactersImgBox #imgCharacterDiv #infosCharactereBox a #charactereName {
  color: black;
  font-size: 23px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#charactersImgBox #imgCharacterDiv:hover #infosCharactereBox {
  -webkit-box-shadow: inset 0 0 0 110px rgba(228, 223, 220, 0.575), inset 0 0 0 16px rgba(255, 255, 255, 0.473), 0 1px 2px rgba(0, 0, 0, 0.164);
          box-shadow: inset 0 0 0 110px rgba(228, 223, 220, 0.575), inset 0 0 0 16px rgba(255, 255, 255, 0.473), 0 1px 2px rgba(0, 0, 0, 0.164);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#charactersImgBox #imgCharacterDiv:hover .charactersImg {
  border: 10px double transparent;
}

#alphabet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dd28524b;
  letter-spacing: 10px;
  font-weight: 900;
  margin: 0 20px;
}

#herosNameInputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

#herosNameInputBox #herosName {
  width: 20%;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 0;
  border: 1px solid black;
}

#herosNameInputBox #herosName:focus {
  outline: none;
}

#herosNameInputBox #btnSearch {
  border: none;
  background-color: #dd2852;
  padding: 15px;
  color: #e0dbdb;
  text-transform: uppercase;
  font-weight: bold;
}

#herosNameInputBox #btnSearch:hover {
  opacity: 0.8;
}

#herosNameInputBox #btnSearch:active {
  -webkit-box-shadow: 0 2px #666;
          box-shadow: 0 2px #666;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

#body.dark .charactersImg {
  border: 10px solid white;
}
/*# sourceMappingURL=style.css.map */